<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantName" value="56099c26-cb5b-461f-8495-b81aff1423f5"/>
    <add key="ClientId" value="ddcd5c21-8814-4a6e-befb-31a0b9b35ba5"/>
    <add key="Authority" value="https://login.microsoftonline.com"/>
    <add key="AppIdUri" value="https://b4gTenant.onmicrosoft.com/AssetService"/>
    <add key="AssetEndpoint" value="https://localhost:44301"/>
    <add key="FabricEndpoint" value="http://localhost:19080"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>