@model docs.Models.DocumentationMember

@{ 
    var parametersStart = Model.Name.IndexOf("(");
    var methodName = Model.Name.Substring(0, parametersStart);
    var parameters = Model.Name.Substring(parametersStart).Trim('(', ')').Split(',');

    var documentCode = new Func<string, bool>((name) => {
        return docs.Controllers.GodOfDocumentation.Get().Members.Any(t=>t.Type=="T" && t.Name.StartsWith(name));
    });
}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>

        @for (var i = 0; i < Model.Parameters.Count; i++)
        {
            var item = parameters[i];
            <tr>
                <td>@Model.Parameters.ElementAt(i).Key</td>
                <td>@Html.Partial("_TypeLink", item)</td>
                <td>@Model.Parameters.ElementAt(i).Value</td>
            </tr>
        }
    </tbody>
</table>
