@model docs.Models.Documentation

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>@Model.AssemblyName</h1>
    <p class="lead">This is the SDK Documentation for the C# SDK for Brisk4Games.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Classes</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Summary</th>
                </tr>
            </thead>
            <tbody>
@foreach (var item in Model.Members.Where(t => t.Type == "T"))
{
                <tr>
                    <td><a href="@Url.Action("Type", new { name = item.Name })">@item.Name</a></td>
                    <td>@item.Summary</td>
                </tr>
}
            </tbody>
        </table>
    </div>
</div>